.column {
  border: 1px solid;
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.right {
  border-color: blueviolet;
}

.left {
  border-color: aquamarine;
}

form {
  padding: 10px;
}